:root {
  --gp-white: #fff;
  --gp-black: #000;
  --gp-background-base: #fff;
  --gp-gcc-grey-100: #fafafa;
  --gp-gcc-grey-200: #f4f5f5;
  --gp-gcc-grey-300: #eff0f0;
  --gp-gcc-grey-400: #e7e9e8;
  --gp-gcc-grey-500: #d8dad9;
  --gp-gcc-grey-600: #bec0bf;
  --gp-gcc-grey-700: #8a8f8d;
  --gp-gcc-grey-800: #585a5a;
  --gp-gcc-grey-900: #262626;
  --gp-gcc-grey-1: #fafafa;
  --gp-gcc-grey-2: #f4f5f5;
  --gp-gcc-grey-3: #eff0f0;
  --gp-gcc-grey-4: #e7e9e8;
  --gp-gcc-grey-5: #d8dad9;
  --gp-gcc-grey-6: #bec0bf;
  --gp-gcc-grey-7: #8a8f8d;
  --gp-gcc-grey-8: #585a5a;
  --gp-gcc-grey-9: #262626;
  --gp-pea-green-50: #f3fbe7;
  --gp-pea-green-100: #e8f7cf;
  --gp-pea-green-200: #dbf1b7;
  --gp-pea-green-300: #c1e77e;
  --gp-pea-green-400: #a7dd4b;
  --gp-pea-green-500: #8ccf17;
  --gp-pea-green-600: #74b602;
  --gp-pea-green-700: #5c8d07;
  --gp-pea-green-800: #406105;
  --gp-pea-green-900: #2a4200;
  --gp-pea-green-1: #e8f7cf;
  --gp-pea-green-2: #dbf1b7;
  --gp-pea-green-3: #c1e77e;
  --gp-pea-green-4: #a7dd4b;
  --gp-pea-green-5: #8ccf17;
  --gp-pea-green-6: #74b602;
  --gp-pea-green-7: #5c8d07;
  --gp-pea-green-8: #406105;
  --gp-pea-green-9: #2a4200;
  --gp-gcc-green-50: #ecfaf4;
  --gp-gcc-green-100: #daf6ea;
  --gp-gcc-green-200: #c7f0df;
  --gp-gcc-green-300: #82edc0;
  --gp-gcc-green-400: #45de9d;
  --gp-gcc-green-500: #0bd07d;
  --gp-gcc-green-600: #00b96b;
  --gp-gcc-green-700: #009456;
  --gp-gcc-green-800: #00663b;
  --gp-gcc-green-900: #003d23;
  --gp-gcc-green-1: #daf6ea;
  --gp-gcc-green-2: #c7f0df;
  --gp-gcc-green-3: #82edc0;
  --gp-gcc-green-4: #45de9d;
  --gp-gcc-green-5: #0bd07d;
  --gp-gcc-green-6: #00b96b;
  --gp-gcc-green-7: #009456;
  --gp-gcc-green-8: #00663b;
  --gp-gcc-green-9: #003d23;
  --gp-cyan-50: #e6f9fb;
  --gp-cyan-100: #cef5f7;
  --gp-cyan-200: #b5eff2;
  --gp-cyan-300: #81dfe4;
  --gp-cyan-400: #5ed3d9;
  --gp-cyan-500: #1dc0c9;
  --gp-cyan-600: #01b2bc;
  --gp-cyan-700: #078b92;
  --gp-cyan-800: #07787e;
  --gp-cyan-900: #004347;
  --gp-cyan-1: #cef5f7;
  --gp-cyan-2: #b5eff2;
  --gp-cyan-3: #81dfe4;
  --gp-cyan-4: #5ed3d9;
  --gp-cyan-5: #1dc0c9;
  --gp-cyan-6: #01b2bc;
  --gp-cyan-7: #078b92;
  --gp-cyan-8: #07787e;
  --gp-cyan-9: #004347;
  --gp-blue-50: #ecf4fd;
  --gp-blue-100: #d9eafc;
  --gp-blue-200: #c0ddfc;
  --gp-blue-300: #81bbf8;
  --gp-blue-400: #5fa8f6;
  --gp-blue-500: #2f8ef4;
  --gp-blue-600: #117cee;
  --gp-blue-700: #0c68ca;
  --gp-blue-800: #074a92;
  --gp-blue-900: #00346b;
  --gp-blue-1: #d9eafc;
  --gp-blue-2: #c0ddfc;
  --gp-blue-3: #81bbf8;
  --gp-blue-4: #5fa8f6;
  --gp-blue-5: #2f8ef4;
  --gp-blue-6: #117cee;
  --gp-blue-7: #0c68ca;
  --gp-blue-8: #074a92;
  --gp-blue-9: #00346b;
  --gp-sea-blue-50: #eceefd;
  --gp-sea-blue-100: #d9dffc;
  --gp-sea-blue-200: #c0cafc;
  --gp-sea-blue-300: #96a7fd;
  --gp-sea-blue-400: #6e85f7;
  --gp-sea-blue-500: #4861e0;
  --gp-sea-blue-600: #2f4bda;
  --gp-sea-blue-700: #213bc0;
  --gp-sea-blue-800: #162883;
  --gp-sea-blue-900: #101e60;
  --gp-sea-blue-1: #d9dffc;
  --gp-sea-blue-2: #c0cafc;
  --gp-sea-blue-3: #96a7fd;
  --gp-sea-blue-4: #6e85f7;
  --gp-sea-blue-5: #4861e0;
  --gp-sea-blue-6: #2f4bda;
  --gp-sea-blue-7: #213bc0;
  --gp-sea-blue-8: #162883;
  --gp-sea-blue-9: #101e60;
  --gp-purple-50: #f2edfc;
  --gp-purple-100: #e6dcf9;
  --gp-purple-200: #d9c9f8;
  --gp-purple-300: #ba9bf2;
  --gp-purple-400: #9a6eed;
  --gp-purple-500: #7e45e8;
  --gp-purple-600: #601bde;
  --gp-purple-700: #4c16b1;
  --gp-purple-800: #391084;
  --gp-purple-900: #270070;
  --gp-purple-1: #e6dcf9;
  --gp-purple-2: #d9c9f8;
  --gp-purple-3: #ba9bf2;
  --gp-purple-4: #9a6eed;
  --gp-purple-5: #7e45e8;
  --gp-purple-6: #601bde;
  --gp-purple-7: #4c16b1;
  --gp-purple-8: #391084;
  --gp-purple-9: #270070;
  --gp-magenta-50: #fdeff7;
  --gp-magenta-100: #fbdfef;
  --gp-magenta-200: #f7c4e2;
  --gp-magenta-300: #f297cc;
  --gp-magenta-400: #ec6ab6;
  --gp-magenta-500: #e746a4;
  --gp-magenta-600: #d22d8d;
  --gp-magenta-700: #ae146e;
  --gp-magenta-800: #800f51;
  --gp-magenta-900: #5c0036;
  --gp-magenta-1: #fbdfef;
  --gp-magenta-2: #f7c4e2;
  --gp-magenta-3: #f297cc;
  --gp-magenta-4: #ec6ab6;
  --gp-magenta-5: #e746a4;
  --gp-magenta-6: #d22d8d;
  --gp-magenta-7: #ae146e;
  --gp-magenta-8: #800f51;
  --gp-magenta-9: #5c0036;
  --gp-red-50: #fdf1f3;
  --gp-red-100: #fbe4e7;
  --gp-red-200: #f8ced3;
  --gp-red-300: #f1a2ab;
  --gp-red-400: #ea7583;
  --gp-red-500: #e4495b;
  --gp-red-600: #df2a3f;
  --gp-red-700: #ad1a2b;
  --gp-red-800: #8f0515;
  --gp-red-900: #70000d;
  --gp-red-1: #fbe4e7;
  --gp-red-2: #f8ced3;
  --gp-red-3: #f1a2ab;
  --gp-red-4: #ea7583;
  --gp-red-5: #e4495b;
  --gp-red-6: #df2a3f;
  --gp-red-7: #ad1a2b;
  --gp-red-8: #8f0515;
  --gp-red-9: #70000d;
  --gp-vermilion-50: #fdf3f1;
  --gp-vermilion-100: #fbe8e4;
  --gp-vermilion-200: #f8d6ce;
  --gp-vermilion-300: #f0ad9d;
  --gp-vermilion-400: #eb866f;
  --gp-vermilion-500: #e46549;
  --gp-vermilion-600: #df4b2a;
  --gp-vermilion-700: #ad351a;
  --gp-vermilion-800: #8f1e05;
  --gp-vermilion-900: #701500;
  --gp-vermilion-1: #fbe8e4;
  --gp-vermilion-2: #f8d6ce;
  --gp-vermilion-3: #f0ad9d;
  --gp-vermilion-4: #eb866f;
  --gp-vermilion-5: #e46549;
  --gp-vermilion-6: #df4b2a;
  --gp-vermilion-7: #ad351a;
  --gp-vermilion-8: #8f1e05;
  --gp-vermilion-9: #701500;
  --gp-orange-50: #fef2e9;
  --gp-orange-100: #fde6d3;
  --gp-orange-200: #f8d6b9;
  --gp-orange-300: #f8b881;
  --gp-orange-400: #f6a055;
  --gp-orange-500: #f38f39;
  --gp-orange-600: #ed740c;
  --gp-orange-700: #c75c00;
  --gp-orange-800: #944400;
  --gp-orange-900: #663000;
  --gp-orange-1: #fde6d3;
  --gp-orange-2: #f8d6b9;
  --gp-orange-3: #f8b881;
  --gp-orange-4: #f6a055;
  --gp-orange-5: #f38f39;
  --gp-orange-6: #ed740c;
  --gp-orange-7: #c75c00;
  --gp-orange-8: #944400;
  --gp-orange-9: #663000;
  --gp-yellow-50: #fcf5e6;
  --gp-yellow-100: #f9efcd;
  --gp-yellow-200: #f6e1ac;
  --gp-yellow-300: #f5d480;
  --gp-yellow-400: #f5cb61;
  --gp-yellow-500: #f3bb2f;
  --gp-yellow-600: #ecaa04;
  --gp-yellow-700: #c99103;
  --gp-yellow-800: #8f6600;
  --gp-yellow-900: #664900;
  --gp-yellow-1: #f9efcd;
  --gp-yellow-2: #f6e1ac;
  --gp-yellow-3: #f5d480;
  --gp-yellow-4: #f5cb61;
  --gp-yellow-5: #f3bb2f;
  --gp-yellow-6: #ecaa04;
  --gp-yellow-7: #c99103;
  --gp-yellow-8: #8f6600;
  --gp-yellow-9: #664900;
  --gp-bright-yellow-50: #fdf9e4;
  --gp-bright-yellow-100: #fbf5cb;
  --gp-bright-yellow-200: #fcf1a6;
  --gp-bright-yellow-300: #fdeb78;
  --gp-bright-yellow-400: #fce75a;
  --gp-bright-yellow-500: #fbde28;
  --gp-bright-yellow-600: #edce02;
  --gp-bright-yellow-700: #cdb204;
  --gp-bright-yellow-800: #a58f04;
  --gp-bright-yellow-900: #665800;
  --gp-bright-yellow-1: #fbf5cb;
  --gp-bright-yellow-2: #fcf1a6;
  --gp-bright-yellow-3: #fdeb78;
  --gp-bright-yellow-4: #fce75a;
  --gp-bright-yellow-5: #fbde28;
  --gp-bright-yellow-6: #edce02;
  --gp-bright-yellow-7: #cdb204;
  --gp-bright-yellow-8: #a58f04;
  --gp-bright-yellow-9: #665800;
  --gp-brown-50: #f7f2ea;
  --gp-brown-100: #f0e7d6;
  --gp-brown-200: #e7d7bb;
  --gp-brown-300: #dbc39a;
  --gp-brown-400: #d2b684;
  --gp-brown-500: #c59f5e;
  --gp-brown-600: #b1873f;
  --gp-brown-700: #927035;
  --gp-brown-800: #74592a;
  --gp-brown-900: #523f1e;
  --gp-brown-1: #f0e7d6;
  --gp-brown-2: #e7d7bb;
  --gp-brown-3: #dbc39a;
  --gp-brown-4: #d2b684;
  --gp-brown-5: #c59f5e;
  --gp-brown-6: #b1873f;
  --gp-brown-7: #927035;
  --gp-brown-8: #74592a;
  --gp-brown-9: #523f1e;
}

:root {
  --gp-ant-primary-color: var(--gp-theme);
  --gp-ant-primary-color-hover: var(--gp-gcc-green-700);
  --gp-ant-primary-color-active: var(--gp-gcc-green-700);
  --gp-ant-primary-color-outline: rgba(0, 185, 107, 0.2);
  --gp-ant-primary-1: var(--gp-gcc-green-100);
  --gp-ant-primary-2: var(--gp-gcc-green-200);
  --gp-ant-primary-3: var(--gp-gcc-green-300);
  --gp-ant-primary-4: var(--gp-gcc-green-400);
  --gp-ant-primary-5: var(--gp-gcc-green-500);
  --gp-ant-primary-6: var(--gp-theme);
  --gp-ant-primary-7: var(--gp-gcc-green-700);
  --gp-ant-primary-color-deprecated-l-35: var(--gp-theme);
  --gp-ant-primary-color-deprecated-l-20: var(--gp-theme);
  --gp-ant-primary-color-deprecated-t-20: var(--gp-theme);
  --gp-ant-primary-color-deprecated-t-50: var(--gp-theme);
  --gp-ant-primary-color-deprecated-f-12: rgba(0, 185, 107, 0.12);
  --gp-ant-primary-color-active-deprecated-f-30: rgba(218, 246, 234, 0.3);
  --gp-ant-primary-color-active-deprecated-d-02: var(--gp-gcc-green-100);
  --gp-ant-success-color: var(--gp-gcc-green-600);
  --gp-ant-success-color-hover: var(--gp-gcc-green-500);
  --gp-ant-success-color-active: var(--gp-gcc-green-700);
  --gp-ant-success-color-outline: rgba(0, 185, 107, 0.2);
  --gp-ant-success-color-deprecated-bg: var(--gp-gcc-green-100);
  --gp-ant-success-color-deprecated-border: var(--gp-gcc-green-300);
  --gp-ant-error-color: var(--gp-red-600);
  --gp-ant-error-color-hover: var(--gp-red-500);
  --gp-ant-error-color-active: var(--gp-red-700);
  --gp-ant-error-color-outline: rgba(223, 42, 63, 0.2);
  --gp-ant-error-color-deprecated-bg: var(--gp-red-100);
  --gp-ant-error-color-deprecated-border: var(--gp-red-300);
  --gp-ant-warning-color: var(--gp-yellow-600);
  --gp-ant-warning-color-hover: var(--gp-yellow-500);
  --gp-ant-warning-color-active: var(--gp-yellow-700);
  --gp-ant-warning-color-outline: rgba(236, 170, 4, 0.2);
  --gp-ant-warning-color-deprecated-bg: var(--gp-yellow-100);
  --gp-ant-warning-color-deprecated-border: var(--gp-yellow-300);
  --gp-ant-info-color: var(--gp-blue-600);
  --gp-ant-info-color-deprecated-bg: var(--gp-blue-100);
  --gp-ant-info-color-deprecated-border: var(--gp-blue-300);
  --gp-ant-body-background: var(--gp-white);
  --gp-ant-component-background: var(--gp-white);
  --gp-ant-popover-background: var(--gp-white);
  --gp-ant-popover-customize-border-color: var(--gp-ant-border-color-split);
  --gp-ant-text-color-secondary: rgba(0, 0, 0, 0.45);
  --gp-ant-text-color-inverse: var(--gp-white);
  --gp-ant-icon-color: inherit;
  --gp-ant-icon-color-hover: rgba(0, 0, 0, 0.75);
  --gp-ant-heading-color: rgba(0, 0, 0, 0.85);
  --gp-ant-text-color-dark: hsla(0, 0%, 100%, 0.85);
  --gp-ant-text-color-secondary-dark: hsla(0, 0%, 100%, 0.65);
  --gp-ant-text-selection-bg: var(--gp-theme);
  --gp-ant-item-active-bg: var(--gp-gcc-green-100);
  --gp-ant-item-hover-bg: #f5f5f5;
  --gp-ant-link-color: var(--gp-text-link);
  --gp-ant-link-hover-color: var(--gp-text-link-hover);
  --gp-ant-link-active-color: var(--gp-blue-700);
  --gp-ant-border-color-base: #d9d9d9;
  --gp-ant-border-color-split: rgba(0, 0, 0, 0.06);
  --gp-ant-border-color-inverse: var(--gp-white);
  --gp-ant-outline-color: var(--gp-theme);
  --gp-ant-background-color-light: #fafafa;
  --gp-ant-background-color-base: #f5f5f5;
  --gp-ant-disabled-color: var(--gp-text-disable);
  --gp-ant-disabled-bg: var(--gp-ant-background-color-base);
  --gp-ant-disabled-active-bg: var(--gp-black);
  --gp-ant-disabled-color-dark: hsla(0, 0%, 100%, 0.35);
  --gp-ant-shadow-color: rgba(0, 0, 0, 0.15);
  --gp-ant-shadow-color-inverse: var(--gp-white);
  --gp-ant-box-shadow-base: 0 1px 4px -2px rgba(0, 0, 0, 0.13), 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 8px 16px 4px rgba(0, 0, 0, 0.04);
  --gp-ant-shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05), 0 -12px 48px 16px rgba(0, 0, 0, 0.03);
  --gp-ant-shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
  --gp-ant-shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05), -12px 0 48px 16px rgba(0, 0, 0, 0.03);
  --gp-ant-shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.08), 9px 0 28px 0 rgba(0, 0, 0, 0.05), 12px 0 48px 16px rgba(0, 0, 0, 0.03);
  --gp-ant-shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --gp-ant-btn-primary-color: #fff;
  --gp-ant-btn-primary-bg: var(--gp-theme);
  --gp-ant-btn-default-color: var(--gp-gcc-grey-900);
  --gp-ant-btn-default-bg: var(--gp-white);
  --gp-ant-btn-default-border: var(--gp-border-primary);
  --gp-ant-btn-danger-color: #fff;
  --gp-ant-btn-danger-bg: var(--gp-ant-error-color);
  --gp-ant-btn-danger-border: var(--gp-ant-error-color);
  --gp-ant-btn-disable-color: var(--gp-ant-disabled-color);
  --gp-ant-btn-disable-bg: var(--gp-ant-disabled-bg);
  --gp-ant-btn-disable-border: var(--gp-ant-border-color-base);
  --gp-ant-btn-default-ghost-color: var(--gp-white);
  --gp-ant-btn-default-ghost-bg: transparent;
  --gp-ant-btn-default-ghost-border: var(--gp-white);
  --gp-ant-btn-group-border: var(--gp-gcc-green-500);
  --gp-ant-btn-link-hover-bg: transparent;
  --gp-ant-btn-text-hover-bg: rgba(0, 0, 0, 0.018);
  --gp-ant-checkbox-color: var(--gp-theme);
  --gp-ant-checkbox-check-color: var(--gp-bg-primary);
  --gp-ant-checkbox-check-bg: var(--gp-ant-checkbox-check-color);
  --gp-ant-descriptions-bg: #fafafa;
  --gp-ant-descriptions-extra-color: var(--gp-gcc-grey-900);
  --gp-ant-divider-color: rgba(0, 0, 0, 0.06);
  --gp-ant-dropdown-selected-color: var(--gp-theme);
  --gp-ant-dropdown-menu-submenu-disabled-bg: var(--gp-white);
  --gp-ant-dropdown-selected-bg: var(--gp-ant-item-active-bg);
  --gp-ant-radio-dot-color: var(--gp-theme);
  --gp-ant-radio-dot-disabled-color: rgba(0, 0, 0, 0.2);
  --gp-ant-radio-solid-checked-color: var(--gp-white);
  --gp-ant-radio-button-bg: var(--gp-ant-btn-default-bg);
  --gp-ant-radio-button-checked-bg: var(--gp-ant-btn-default-bg);
  --gp-ant-radio-button-color: var(--gp-ant-btn-default-color);
  --gp-ant-radio-button-hover-color: var(--gp-gcc-green-500);
  --gp-ant-radio-button-active-color: var(--gp-gcc-green-700);
  --gp-ant-radio-disabled-button-checked-bg: var(--gp-black);
  --gp-ant-radio-disabled-button-checked-color: var(--gp-ant-disabled-color);
  --gp-ant-layout-body-background: #f0f2f5;
  --gp-ant-layout-header-background: #001529;
  --gp-ant-layout-header-color: var(--gp-gcc-grey-900);
  --gp-ant-layout-footer-background: var(--gp-ant-layout-body-background);
  --gp-ant-layout-sider-background: var(--gp-ant-layout-header-background);
  --gp-ant-layout-trigger-background: #002140;
  --gp-ant-layout-trigger-color: #fff;
  --gp-ant-layout-sider-background-light: #fff;
  --gp-ant-layout-trigger-background-light: #fff;
  --gp-ant-layout-trigger-color-light: var(--gp-gcc-grey-900);
  --gp-ant-dropdown-menu-bg: var(--gp-white);
  --gp-ant-label-required-color: var(--gp-red-600);
  --gp-ant-label-color: var(--gp-ant-heading-color);
  --gp-ant-form-warning-input-bg: var(--gp-ant-input-bg);
  --gp-ant-form-error-input-bg: var(--gp-ant-input-bg);
  --gp-ant-input-placeholder-color: #bfbfbf;
  --gp-ant-input-color: var(--gp-gcc-grey-900);
  --gp-ant-input-icon-color: var(--gp-ant-input-color);
  --gp-ant-input-border-color: var(--gp-border-primary);
  --gp-ant-input-bg: var(--gp-white);
  --gp-ant-input-number-hover-border-color: var(--gp-ant-input-hover-border-color);
  --gp-ant-input-number-handler-active-bg: #f4f4f4;
  --gp-ant-input-number-handler-hover-bg: var(--gp-gcc-green-500);
  --gp-ant-input-number-handler-bg: var(--gp-white);
  --gp-ant-input-number-handler-border-color: var(--gp-ant-border-color-base);
  --gp-ant-input-addon-bg: var(--gp-ant-background-color-light);
  --gp-ant-input-hover-border-color: var(--gp-gcc-green-500);
  --gp-ant-input-disabled-bg: var(--gp-bg-tertiary);
  --gp-ant-input-outline-offset: 0 0;
  --gp-ant-input-icon-hover-color: rgba(0, 0, 0, 0.85);
  --gp-ant-input-disabled-color: var(--gp-gcc-grey-900);
  --gp-ant-mentions-dropdown-bg: var(--gp-white);
  --gp-ant-mentions-dropdown-menu-item-hover-bg: var(--gp-ant-mentions-dropdown-bg);
  --gp-ant-select-border-color: var(--gp-ant-border-color-base);
  --gp-ant-select-item-selected-color: var(--gp-gcc-grey-900);
  --gp-ant-select-dropdown-bg: var(--gp-white);
  --gp-ant-select-item-selected-bg: var(--gp-gcc-green-100);
  --gp-ant-select-item-active-bg: var(--gp-ant-item-hover-bg);
  --gp-ant-select-background: var(--gp-white);
  --gp-ant-select-clear-background: var(--gp-ant-select-background);
  --gp-ant-select-selection-item-bg: var(--gp-ant-background-color-base);
  --gp-ant-select-selection-item-border-color: var(--gp-ant-border-color-split);
  --gp-ant-select-multiple-disabled-background: var(--gp-ant-input-disabled-bg);
  --gp-ant-select-multiple-item-disabled-color: #bfbfbf;
  --gp-ant-select-multiple-item-disabled-border-color: var(--gp-ant-border-color-base);
  --gp-ant-cascader-bg: var(--gp-white);
  --gp-ant-cascader-item-selected-bg: var(--gp-gcc-green-100);
  --gp-ant-cascader-menu-bg: var(--gp-white);
  --gp-ant-cascader-menu-border-color-split: var(--gp-ant-border-color-split);
  --gp-ant-anchor-bg: transparent;
  --gp-ant-anchor-border-color: var(--gp-ant-border-color-split);
  --gp-ant-tooltip-color: #fff;
  --gp-ant-tooltip-bg: rgba(0, 0, 0, 0.75);
  --gp-ant-tooltip-arrow-color: var(--gp-ant-tooltip-bg);
  --gp-ant-popover-bg: var(--gp-white);
  --gp-ant-popover-color: var(--gp-gcc-grey-900);
  --gp-ant-popover-arrow-color: var(--gp-popover-bg);
  --gp-ant-popover-arrow-outer-color: var(--gp-popover-bg);
  --gp-ant-modal-header-bg: var(--gp-white);
  --gp-ant-modal-content-bg: var(--gp-white);
  --gp-ant-modal-heading-color: var(--gp-ant-heading-color);
  --gp-ant-modal-close-color: var(--gp-ant-text-color-secondary);
  --gp-ant-modal-footer-bg: transparent;
  --gp-ant-modal-footer-border-color-split: var(--gp-ant-border-color-split);
  --gp-ant-modal-mask-bg: rgba(0, 0, 0, 0.45);
  --gp-ant-progress-default-color: var(--gp-gcc-green-600);
  --gp-ant-progress-remaining-color: rgba(0, 0, 0, 0.04);
  --gp-ant-progress-info-text-color: var(--gp-gcc-grey-900);
  --gp-ant-progress-steps-item-bg: #f3f3f3;
  --gp-ant-progress-text-color: var(--gp-gcc-grey-900);
  --gp-ant-menu-bg: var(--gp-white);
  --gp-ant-menu-popup-bg: var(--gp-white);
  --gp-ant-menu-item-color: var(--gp-gcc-grey-900);
  --gp-ant-menu-inline-submenu-bg: var(--gp-ant-background-color-light);
  --gp-ant-menu-highlight-color: var(--gp-theme);
  --gp-ant-menu-highlight-danger-color: var(--gp-ant-error-color);
  --gp-ant-menu-item-active-bg: var(--gp-gcc-green-100);
  --gp-ant-menu-item-active-danger-bg: var(--gp-red-100);
  --gp-ant-menu-item-group-title-color: var(--gp-ant-text-color-secondary);
  --gp-ant-menu-dark-color: hsla(0, 0%, 100%, 0.65);
  --gp-ant-menu-dark-danger-color: var(--gp-ant-error-color);
  --gp-ant-menu-dark-bg: var(--gp-ant-layout-header-background);
  --gp-ant-menu-dark-arrow-color: #fff;
  --gp-ant-menu-dark-inline-submenu-bg: #000c17;
  --gp-ant-menu-dark-highlight-color: #fff;
  --gp-ant-menu-dark-item-active-bg: var(--gp-theme);
  --gp-ant-menu-dark-item-active-danger-bg: var(--gp-ant-error-color);
  --gp-ant-menu-dark-selected-item-icon-color: var(--gp-white);
  --gp-ant-menu-dark-selected-item-text-color: var(--gp-white);
  --gp-ant-menu-dark-item-hover-bg: transparent;
  --gp-ant-table-bg: var(--gp-ant-body-background);
  --gp-ant-table-header-bg: var(--gp-ant-background-color-light);
  --gp-ant-table-header-color: var(--gp-ant-heading-color);
  --gp-ant-table-header-sort-bg: var(--gp-ant-background-color-base);
  --gp-ant-table-body-sort-bg: #fafafa;
  --gp-ant-table-row-hover-bg: var(--gp-ant-background-color-light);
  --gp-ant-table-selected-row-color: inherit;
  --gp-ant-table-selected-row-bg: var(--gp-gcc-green-100);
  --gp-ant-table-body-selected-sort-bg: var(--gp-gcc-green-100);
  --gp-ant-table-selected-row-hover-bg: var(--gp-primary-color-active-deprecated-d-02);
  --gp-ant-table-expanded-row-bg: #fbfbfb;
  --gp-ant-table-border-color: var(--gp-ant-border-color-split);
  --gp-ant-table-footer-bg: var(--gp-ant-background-color-light);
  --gp-ant-table-footer-color: var(--gp-ant-heading-color);
  --gp-ant-table-header-bg-sm: var(--gp-ant-table-header-bg);
  --gp-ant-table-header-cell-split-color: rgba(0, 0, 0, 0.06);
  --gp-ant-table-header-sort-active-bg: rgba(0, 0, 0, 0.04);
  --gp-ant-table-fixed-header-sort-active-bg: #f5f5f5;
  --gp-ant-table-header-filter-active-bg: rgba(0, 0, 0, 0.04);
  --gp-ant-table-filter-btns-bg: inherit;
  --gp-ant-table-filter-dropdown-bg: var(--gp-white);
  --gp-ant-table-expand-icon-bg: var(--gp-white);
  --gp-ant-table-sticky-scroll-bar-bg: rgba(0, 0, 0, 0.35);
  --gp-ant-tag-default-bg: var(--gp-ant-background-color-light);
  --gp-ant-tag-default-color: var(--gp-gcc-grey-900);
  --gp-ant-picker-bg: var(--gp-white);
  --gp-ant-picker-basic-cell-hover-color: var(--gp-ant-item-hover-bg);
  --gp-ant-picker-basic-cell-active-with-range-color: var(--gp-gcc-green-100);
  --gp-ant-picker-basic-cell-hover-with-range-color: var(--gp-primary-color-deprecated-l-35);
  --gp-ant-picker-basic-cell-disabled-bg: rgba(0, 0, 0, 0.04);
  --gp-ant-picker-border-color: var(--gp-ant-border-color-split);
  --gp-ant-picker-date-hover-range-border-color: var(--gp-primary-color-deprecated-l-20);
  --gp-ant-picker-date-hover-range-color: var(--gp-ant-picker-basic-cell-hover-with-range-color);
  --gp-ant-calendar-bg: var(--gp-white);
  --gp-ant-calendar-input-bg: var(--gp-ant-input-bg);
  --gp-ant-calendar-border-color: var(--gp-white);
  --gp-ant-calendar-item-active-bg: var(--gp-ant-item-active-bg);
  --gp-ant-calendar-column-active-bg: var(--gp-primary-color-active-deprecated-f-30);
  --gp-ant-calendar-full-bg: var(--gp-ant-calendar-bg);
  --gp-ant-calendar-full-panel-bg: var(--gp-ant-calendar-full-bg);
  --gp-ant-badge-text-color: #fff;
  --gp-ant-badge-color: var(--gp-badge);
  --gp-ant-rate-star-color: var(--gp-yellow-600);
  --gp-ant-rate-star-bg: var(--gp-ant-border-color-split);
  --gp-ant-card-head-color: var(--gp-ant-heading-color);
  --gp-ant-card-head-background: transparent;
  --gp-ant-card-actions-background: var(--gp-white);
  --gp-ant-card-skeleton-bg: #cfd8dc;
  --gp-ant-card-background: var(--gp-white);
  --gp-ant-card-head-extra-color: var(--gp-gcc-grey-900);
  --gp-ant-comment-bg: inherit;
  --gp-ant-comment-author-name-color: var(--gp-ant-text-color-secondary);
  --gp-ant-comment-author-time-color: #ccc;
  --gp-ant-comment-action-color: var(--gp-ant-text-color-secondary);
  --gp-ant-comment-action-hover-color: #595959;
  --gp-ant-tabs-card-head-background: var(--gp-ant-background-color-light);
  --gp-ant-tabs-card-active-color: var(--gp-theme);
  --gp-ant-tabs-ink-bar-color: var(--gp-theme);
  --gp-ant-tabs-highlight-color: var(--gp-theme);
  --gp-ant-tabs-hover-color: var(--gp-gcc-green-500);
  --gp-ant-tabs-active-color: var(--gp-gcc-green-700);
  --gp-ant-back-top-color: #fff;
  --gp-ant-back-top-bg: var(--gp-ant-text-color-secondary);
  --gp-ant-back-top-hover-bg: var(--gp-gcc-grey-900);
  --gp-ant-avatar-bg: #ccc;
  --gp-ant-avatar-color: #fff;
  --gp-ant-avatar-group-border-color: #fff;
  --gp-ant-switch-color: var(--gp-theme);
  --gp-ant-switch-bg: var(--gp-white);
  --gp-ant-switch-shadow-color: rgba(0, 35, 11, 0.2);
  --gp-ant-pagination-item-bg: var(--gp-white);
  --gp-ant-pagination-item-bg-active: var(--gp-white);
  --gp-ant-pagination-item-link-bg: var(--gp-white);
  --gp-ant-pagination-item-disabled-color-active: var(--gp-ant-disabled-color);
  --gp-ant-pagination-item-disabled-bg-active: var(--gp-black);
  --gp-ant-pagination-item-input-bg: var(--gp-white);
  --gp-ant-page-header-back-color: #000;
  --gp-ant-page-header-ghost-bg: inherit;
  --gp-ant-breadcrumb-base-color: var(--gp-ant-text-color-secondary);
  --gp-ant-breadcrumb-last-item-color: var(--gp-gcc-grey-900);
  --gp-ant-breadcrumb-link-color: var(--gp-ant-text-color-secondary);
  --gp-ant-breadcrumb-link-color-hover: var(--gp-gcc-grey-900);
  --gp-ant-breadcrumb-separator-color: var(--gp-ant-text-color-secondary);
  --gp-ant-slider-rail-background-color: var(--gp-ant-background-color-base);
  --gp-ant-slider-rail-background-color-hover: #e1e1e1;
  --gp-ant-slider-track-background-color: var(--gp-gcc-green-300);
  --gp-ant-slider-track-background-color-hover: var(--gp-gcc-green-400);
  --gp-ant-slider-handle-background-color: var(--gp-white);
  --gp-ant-slider-handle-color: var(--gp-gcc-green-300);
  --gp-ant-slider-handle-color-hover: var(--gp-gcc-green-400);
  --gp-ant-slider-handle-color-focus: var(--gp-primary-color-deprecated-t-20);
  --gp-ant-slider-handle-color-focus-shadow: var(--gp-primary-color-deprecated-f-12);
  --gp-ant-slider-handle-color-tooltip-open: var(--gp-theme);
  --gp-ant-slider-dot-border-color: var(--gp-ant-border-color-split);
  --gp-ant-slider-dot-border-color-active: var(--gp-primary-color-deprecated-t-50);
  --gp-ant-slider-disabled-color: var(--gp-ant-disabled-color);
  --gp-ant-slider-disabled-background-color: var(--gp-white);
  --gp-ant-tree-bg: var(--gp-white);
  --gp-ant-tree-directory-selected-color: #fff;
  --gp-ant-tree-directory-selected-bg: var(--gp-theme);
  --gp-ant-tree-node-hover-bg: var(--gp-ant-item-hover-bg);
  --gp-ant-tree-node-selected-bg: var(--gp-gcc-green-200);
  --gp-ant-collapse-header-bg: var(--gp-ant-background-color-light);
  --gp-ant-collapse-content-bg: var(--gp-bg-primary);
  --gp-ant-skeleton-color: hsla(0, 0%, 74.5%, 0.2);
  --gp-ant-skeleton-to-color: hsla(0, 0%, 50.6%, 0.24);
  --gp-ant-transfer-disabled-bg: var(--gp-ant-disabled-bg);
  --gp-ant-transfer-item-hover-bg: var(--gp-ant-item-hover-bg);
  --gp-ant-transfer-item-selected-hover-bg: var(--gp-primary-color-active-deprecated-d-02);
  --gp-ant-message-notice-content-bg: var(--gp-white);
  --gp-ant-alert-success-border-color: var(--gp-ant-success-color-deprecated-border);
  --gp-ant-alert-success-bg-color: var(--gp-ant-success-color-deprecated-bg);
  --gp-ant-alert-success-icon-color: var(--gp-ant-success-color);
  --gp-ant-alert-info-border-color: var(--gp-ant-info-color-deprecated-border);
  --gp-ant-alert-info-bg-color: var(--gp-ant-info-color-deprecated-bg);
  --gp-ant-alert-info-icon-color: var(--gp-ant-info-color);
  --gp-ant-alert-warning-border-color: var(--gp-ant-warning-color-deprecated-border);
  --gp-ant-alert-warning-bg-color: var(--gp-ant-warning-color-deprecated-bg);
  --gp-ant-alert-warning-icon-color: var(--gp-ant-warning-color);
  --gp-ant-alert-error-border-color: var(--gp-ant-error-color-deprecated-border);
  --gp-ant-alert-error-bg-color: var(--gp-ant-error-color-deprecated-bg);
  --gp-ant-alert-error-icon-color: var(--gp-ant-error-color);
  --gp-ant-alert-message-color: var(--gp-ant-heading-color);
  --gp-ant-alert-text-color: var(--gp-gcc-grey-900);
  --gp-ant-alert-close-color: var(--gp-ant-text-color-secondary);
  --gp-ant-alert-close-hover-color: var(--gp-ant-icon-color-hover);
  --gp-ant-list-header-background: transparent;
  --gp-ant-list-footer-background: transparent;
  --gp-ant-list-customize-card-bg: var(--gp-white);
  --gp-ant-drawer-bg: var(--gp-white);
  --gp-ant-timeline-color: var(--gp-ant-border-color-split);
  --gp-ant-timeline-dot-color: var(--gp-theme);
  --gp-ant-timeline-dot-bg: var(--gp-white);
  --gp-ant-upload-actions-color: var(--gp-ant-text-color-secondary);
  --gp-ant-process-tail-color: var(--gp-ant-border-color-split);
  --gp-ant-steps-nav-arrow-color: rgba(0, 0, 0, 0.25);
  --gp-ant-steps-background: var(--gp-white);
  --gp-ant-notification-bg: var(--gp-white);
  --gp-ant-image-bg: #f5f5f5;
  --gp-ant-image-color: #fff;
  --gp-ant-image-preview-operation-color: hsla(0, 0%, 100%, 0.85);
  --gp-ant-image-preview-operation-disabled-color: hsla(0, 0%, 100%, 0.85);
  --gp-ant-segmented-bg: rgba(0, 0, 0, 0.04);
  --gp-ant-segmented-hover-bg: rgba(0, 0, 0, 0.06);
  --gp-ant-segmented-selected-bg: var(--gp-white);
  --gp-ant-segmented-label-color: rgba(0, 0, 0, 0.65);
  --gp-ant-segmented-label-hover-color: #262626;
}